/* App.css */

body {
	font-family: 'Arial', sans-serif;
	background-color: #f7f9fc;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.App {
	text-align: center;
	background: #ffffff;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 20px;
	width: 100%;
	max-width: 800px;
	display: flex;
	flex-direction: column;
}

.App-header {
	margin-bottom: 20px;
}

h1 {
	color: #333;
	font-size: 24px;
	margin-bottom: 10px;
}

.note-inputs {
	margin-bottom: 20px;
}

.note-inputs input[type='text'],
.note-inputs textarea {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: calc(100% - 22px);
	margin-bottom: 10px;
	font-size: 16px;
}

.note-inputs textarea {
	height: 100px;
}

button {
	padding: 10px 15px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
}

button:hover {
	background-color: #0056b3;
}

.notes-container {
	display: flex;
}

.notes-list {
	flex: 1;
	margin-right: 20px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	background: #f1f1f1;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 16px;
}

li span {
	cursor: pointer;
	flex-grow: 1;
	text-align: left;
}

li button {
	background-color: #dc3545;
	padding: 5px 10px;
	font-size: 14px;
}

li button:hover {
	background-color: #c82333;
}

.note-content {
	flex: 2;
	background: #f9f9f9;
	padding: 20px;
	border-radius: 10px;
	text-align: left;
}

.note-content h2 {
	font-size: 20px;
	margin-bottom: 10px;
}

.note-content p {
	font-size: 16px;
	white-space: pre-wrap;
}
